<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
	<services>
   <service name="EShopItServiceLibrary.Service" behaviorConfiguration="SimpleServiceBehavior">
     <endpoint address= "http://localhost:8733/Design_Time_Addresses/EShopItServiceLibrary/Service"
       behaviorConfiguration = "restfulBehavior"
       binding="webHttpBinding" 
       bindingConfiguration = "webHttpBindingJsonP"
       contract="EShopItServiceLibrary.IService">
       <identity>
         <dns value="localhost" />
       </identity>
     </endpoint>
     <host>
       <baseAddresses>
         <add baseAddress="http://localhost:8733/Service.svc"/>
       </baseAddresses>
     </host>
   </service>
 </services>
	<behaviors>
	  <endpointBehaviors>
		<behavior name="restfulBehavior">
		  <webHttp />
		</behavior>
	  </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SimpleServiceBehavior">
          <serviceMetadata httpGetEnabled = "True"/>
        </behavior>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />      
        </behavior>
      </serviceBehaviors>
	</behaviors>
  <bindings>
    <webHttpBinding>
      <binding name="webHttpBindingJsonP" crossDomainScriptAccessEnabled="true"/>
    </webHttpBinding>
   </bindings>
  </system.serviceModel>
  <startup>
    <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>-->
  </startup>
</configuration>




